a {
  position: relative;
  text-decoration: none;
  color: darkblue;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
}

a .tooltip {
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  transition: opacity 0.3s;
  font-size: 14px;
}

a .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
