a {
  position: relative;
  text-decoration: none;
  color: darkblue;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Tooltip escondido por padrão */
.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 320px;
  background-color: #ffffcc; /* fundo amarelo claro */
  color: #000;               /* texto preto */
  border: 1px solid #333;    /* borda escura */
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 9999;             /* força ficar acima de tudo */
  top: 30px;                 /* aparece logo abaixo do link */
  left: 0;                   /* alinhado à esquerda do link */
  transition: opacity 0.3s;
  font-size: 14px;
}

a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


/* Setinha azul apontando para cima */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #007BFF transparent;
}


 
/* Mostrar tooltip ao passar o mouse */
a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
